<div class="container main-part">
    <%= video_tag "palacinakanimacija.mp4", playsinline: true, autoplay: true, loop: true, muted: true, class: "glavna" %>
    <div class="social">
        <a href="https://www.instagram.com/basscinica" class="fa fa-instagram fa-3x"></a>
        <a href="https://www.mixcloud.com/basscinica/" class="fa fa-mixcloud fa-3x"></a>
        <a href="#" class="fa fa-facebook fa-3x"></a>
        <a href="#" class="fa fa-youtube fa-3x"></a>
    </div>
</div>