body {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.glavna {
    height: 90vh;
}

.social {
    left:0;
    right:0;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
}

.social a {
    background: white;
    color: #FFD507;
}

.main-part {
    
}